
.wrapper {
  //background: antiquewhite;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.registration-form {
  //background: #ffffff;
  min-width: 800px;
  display: flex;
}
