<div class="wrapper">
  <div>
    <div class="registration-form">
      <ng-container [formGroup]="userForm">
        <app-identity formGroupName="basicInfo"></app-identity>
        <app-address formGroupName="address"></app-address>
      </ng-container>
    </div>
    <button mat-stroked-button (click)="submit()" style="margin-left: 16px" [disabled]="userForm.invalid" id="btn-submit">
      Register</button>
  </div>

  <pre
    style="margin-top: 50px; border: 1px solid darkslateblue; width: fit-content; position: absolute; top: 0px; left: 10px">
    Values: {{userForm.value | json}}
    Valid: {{userForm.valid}}
  </pre>
</div>
